azure-ai-evaluation==1.2.0
azure-ai-projects
semantic-kernel[azure]==1.22.0
asyncio
python-dotenv
azure-search-documents
fastapi
pandas
uvicorn
streamlit
azure-ai-projects
azure-core-tracing-opentelemetry
azure-monitor-opentelemetry-exporter
opentelemetry-api
opentelemetry-sdk
azure-monitor-opentelemetry
pandas
numpy>=1.25.0 
jinja2==3.1.2
plotly==5.18.0